body {
    background-color: whitesmoke;
}
nav {
    display: grid;
    grid-template-columns: auto auto;
}
.nav-bar {
    background: blueviolet;
    height: 7vh;
    font-size: 2em;
    background-color: whitesmoke;
    position: fixed;
    width: 100vw;
    /*background: rgb(50,4,110);
    background: linear-gradient(180deg, rgba(50,4,110,1) 0%, rgba(93,8,126,0.7819502801120448) 35%, rgba(23,205,227,1) 97%);*/
}
nav p {
    width: max-content;
    padding-left: 20%;
    text-transform: uppercase;
    text-shadow: -4px 4px 5px #11706f;
    font-weight: 700;
}
nav ul {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
}
nav li a {
    text-decoration: none;
    color: black;
}
nav li a:hover {
    color: skyblue;
}
p {
    width: 40%;
}
.content-area {
    padding-top: 7vh;
    width: 100vw;
    margin: auto;
}
.img-container-1 {
    background: url(../IMG/exercise.jpg) no-repeat center/cover;
    height: 100vh;
    width: 100vw;
    display: flex;
}
#About {
    background: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    top: 10%;
    padding: 1em;
    width: 75%;
    border-radius: 5px;
}
#About h1 {
    color: whitesmoke;
    font-size: 3em;
    justify-content: center;
    align-content: center;

}
#About p {
    width: 100%;
    color: whitesmoke;
    font-size: 1.3em;
    justify-content: center;
    align-content: center;
}
.img-container-2 {
    background: url(../IMG/product.jpg) no-repeat center/cover;
    height: 100vh;
    width: 100vw;
    display: flex;
}
#Products {
    background: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    width: 95%;
    border-radius: 5px;
    margin: 3em auto;
    color: whitesmoke;
}
#Products h1 {
    font-size: 2.5em;
    margin: .5em 40%;
}
#Products .product-list {
    display: flex;
    flex-direction: row;
    padding: 0 2em;
    list-style: none;
}
.img-container-2 #Products ul li {
    list-style: none;
    padding-left: 1rem;
    font-size: 1.3em;
}
.img-container-3 {
    background: url(../IMG/contact.jpg) no-repeat center/cover;
    height: 50vh;
    width: 100vw;
}
.img-container-3 h1 {
    font-size: 3em;
    color: whitesmoke;
}
.img-container-3 ol li {
    color: whitesmoke;
}

/* Styling For Mobile Devices */

@media (max-width: 700px) {
    nav {
        display: flex;
        flex-direction: column;
    }
    .nav-bar p {
    font-size: .7em;
    padding-left: 2em;
    }
    .nav-bar ul {
        font-size: .6em;
        padding-left: 2em;
    }

    #About h1 {
        font-weight: 600;
        color: whitesmoke;
        font-size: 1.8em;
        justify-content: center;
        align-content: center;
    
    }
    #About p {
        font-weight: 100;
        width: 100%;
        color: whitesmoke;
        font-size: 1em;
        justify-content: center;
        align-content: center;
    }
    #Products h1 {
        width: 100%;
        font-size: 2em;
        margin: .5em 27%;
    }
    #Products .product-list {
        display: flex;
        flex-direction: column;
        padding: 0 2em;
        list-style: none;
    }
    .img-container-2 #Products ul li {
        list-style: none;
        padding-left: 1rem;
        font-size: 1.3em;
    }
}