body {
    background-color: whitesmoke;
}
nav {
    display: grid;
    grid-template-columns: auto auto;
}
.nav-bar {
    background: blueviolet;
    height: 7vh;
    font-size: 2em;
    background-color: whitesmoke;
    position: fixed;
    width: 100vw;
    /*background: rgb(50,4,110);
    background: linear-gradient(180deg, rgba(50,4,110,1) 0%, rgba(93,8,126,0.7819502801120448) 35%, rgba(23,205,227,1) 97%);*/
}
nav p {
    width: max-content;
    padding-left: 20%;
    text-transform: uppercase;
    text-shadow: -4px 4px 5px #11706f;
    font-weight: 700;
}
nav ul {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
}
li a {
    text-decoration: none;
    color: black;
}
p {
    width: 40%;
}
.content-area {
    padding-top: 7vh;
    width: 100vw;
    background: url(../IMG/athlete.jpg) no-repeat;
    background-size: auto;
}
#About p{
    text-transform: lowercase;
}