body {
    background-color: whitesmoke;
}
nav {
    display: grid;
    grid-template-columns: auto auto;
}
.nav-bar {
    background: blueviolet;
    height: 7vh;
    font-size: 2em;
    background-color: whitesmoke;
    position: fixed;
    width: 100vw;
    /*background: rgb(50,4,110);
    background: linear-gradient(180deg, rgba(50,4,110,1) 0%, rgba(93,8,126,0.7819502801120448) 35%, rgba(23,205,227,1) 97%);*/
}
nav p {
    width: max-content;
    padding-left: 20%;
    text-transform: uppercase;
    text-shadow: -4px 4px 5px #11706f;
    font-weight: 700;
}
nav ul {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
}
li a {
    text-decoration: none;
    color: black;
}
p {
    width: 40%;
}
.content-area {
    padding-top: 7vh;
    width: 100vw;
}
.img-container-1 {
    background: url(../IMG/exercise.jpg) no-repeat center/cover;
    height: 100vh;
    width: 100vw;
}
#About {
    background: rgba(0, 0, 0, .4);
    margin: auto 1em;
    padding: 1em;
    width: 50%;
    border-radius: 5px;
}
#About h1 {
    color: whitesmoke;
    font-size: x-large;
}
#About p {
    width: 100%;
    color: whitesmoke;
    font-size: 1.3em;
}
.img-container-2 {
    background: url(../IMG/product.jpg) no-repeat center/cover;
    height: 100vh;
    width: 100vw;
}
.img-container-3 {
    background: url(../IMG/contact.jpg) no-repeat center/cover;
    height: 50vh;
    width: 100vw;
}
.img-container-3 ol li {
    color: whitesmoke;
}